{% extends "main/base.html" %}
{% load static %}


{% block title %}
  <title>Главная страница</title>
{% endblock title %}
  
<body>
    <header>
        <nav>
            <a href="about.html">О нас</a>
            <a href="blog.html">Блог</a>
            <a href="topic.html">Топик</a>
            <a href="login.html">Вход</a>
        </nav>
    </header>
{% block content %}
  <main>
    <h1>Добро пожаловать на главную страницу!</h1>
    
    <div class="container">
        <img src="{% static 'img/turt.jpeg' %}" alt="Тестовое изображение" class="image">
        <div>
            <p>Это мой первый веб сайт на фремворке Django. До этого я писал код на чистом html. 
              Приложение представляет из себя базу для упрощения работы репетиторов 
              и подсчета заработка и часов, а также расписание и часы работы
            </p>
        </div>
    </div>
  </main>
{% endblock content %}
    

</body>
</html>
