{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body>
    <header>
        <nav>
            <a href="about.html">О нас</a>
            <a href="blog.html">Блог</a>
            <a href="topic.html">Топик</a>
            <a href="login.html">Вход</a>
        </nav>
    </header>

    <main>
        <h1>Добро пожаловать на главную страницу!</h1>
        
        <div class="container">
            <img src="{% static 'img/turt.jpeg' %}" alt="Левое изображение" class="image">
            <div>
                <p>Это мой первый веб сайт на фремворке Django. До этого я писал код на чистом html. 
                  Приложение представляет из себя базу для упрощения работы репетиторов 
                  и подсчета заработка и часов, а также расписание и часы работы
                </p>
            </div>
        </div>
    </main>

    <footer>
        <p>&copy; 2025</p>
        <p>Автор: SyndromeMX</p>
    </footer>
</body>
</html>
